{{#> page }}
  <mj-section>
    <mj-column>
      <mj-text>
        <h1>Modification de votre mot de passe</h1>

        <p>Si vous avez oublié votre mot de passe ou que vous voulez le modifier, utiliser le lien ci-dessous.</p>
      </mj-text>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-button href="{{ redirectLink }}">Modifier mon mot de passe</mj-button>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-text align="center">
        <p>
          Si vous n'avez pas demandé la réinitialisation ou modification de votre mot de passe, vous pouvez ignorer cet email. Seule une personne ayant accès à votre email peut réinitialiser ou modifier votre mot de passe.
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
{{/page}}