{{#> page }}
  <mj-section>
    <mj-column>
      <mj-text>
        <h1>Validation de votre compte</h1>

        <p><b>Bienvenue {{username}}!</b> Prenez un moment pour valider votre email afin de confirmer votre compte et profiter de toutes les fonctionnalités de l'application</p>
      </mj-text>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-button href="{{ validationLink }}">Valider mon compte</mj-button>
    </mj-column>
  </mj-section>
  <mj-section>
    <mj-column>
      <mj-text align="center">
        <p>
          Si vous n'avez pas demandé la création d'un compte sur notre service, vous pouvez ignorer cet email.
        </p>
      </mj-text>
    </mj-column>
  </mj-section>
{{/page}}