<mj-section padding="10px 0 20px 0">
  <mj-column>
    <mj-text align="center" color="#9B9B9B" font-size="11px"><a href="#" style="color: #9B9B9B;">
        52 une addresse random, TODO Metz
        <br />
        <a href="#" style="color: #9B9B9B; text-decoration:none;">Made by TODO</a>
    </mj-text>
  </mj-column>
</mj-section>