<mj-section padding="10px 0 20px 0">
  <mj-column>
  <mj-divider border-width="1px" padding-bottom="10px"/>
    <mj-text align="center" color="#9B9B9B">
      Réalisé avec ♥ par <b><a href="{{pathToApp}}" style="color: #9B9B9B; text-decoration:none;">les 3 bacs</a></b>
    </mj-text>
  </mj-column>
</mj-section>